@media screen and (min-width: 700px) and (max-width: 900px) {

iframe{
    width: 600px;
    height: 320px;
}    
    
.x-small{
    width: 350px;
}

.small{
    width: 400px;
}

.med{
    width: 600px;
}

.large{
    width: 750px;
}

.x-large{
    width: 900px;
}

}

@media screen and (min-width: 500px) and (max-width: 699px) {

iframe{
    width: 400px;
    height: 320px;
}    
    
.x-small{
    width: 275px;
}

.small{
    width: 320px;
}

.med{
    width: 400px;
}

.large{
    width: 500px;
}

.x-large{
    width: 108%;
}

#pilot-pic{
    width: 275px;
}    
    
#death-sentence-pic{
    width: 325px;
}     

#no-pic{
    width: 250px;
}    
    
}

@media screen and (min-width: 0px) and (max-width: 499px) {

iframe{
    width: 400px;
    height: 210px;
}    
    
.x-small{
    width: 200px;
}

.small{
    width: 250px;
}

.med{
    width: 350px;
}

.large{
    width: 400px;
}

.x-large{
    width: 108%;
}

.bitmap, #waiting{
    width: 120px;
}    
  
h1{
    font-size: 22px;
}

p{
    font-size: 13px;
}
    
.title{
    width: 100%;
}
    
.descript{
    width: 80%;
    padding-left: 50px;
}  
    
#pilot-pic{
    width: 275px;
}    
    
#death-sentence-pic{
    width: 325px;
}    

#no-pic{
    width: 200px;
}     

#pattern-pic{
    width: 225px;
}      
    
}

@media screen and (min-width: 0px) and (max-width: 399px) {

iframe{
    width: 330px;
    height: 175px;
}    
    
.x-small{
    width: 200px;
}

.small{
    width: 250px;
}

.med{
    width: 80%;
}

.large{
    width: 90%;
}

.x-large{
    width: 108%;
} 
    
.title{
    width: 100%;
}
    
.descript{
    width: 80%;
    padding-left: 40px;
}  

#pilot-pic{
    width: 225px;
}    
    
#death-sentence-pic{
    width: 275px;
}    
   
    
#fearful-pic{
    width: 150px;
}        
    
}

@media screen and (min-width: 0px) and (max-width: 349px) {

iframe{
    width: 220px;
    height: 120px;
}    
    
.x-small{
    width: 150px;
}

.small{
    width: 190px;
}

.med{
    width: 220px;
}

.large{
    width: 90%;
}

.x-large{
    width: 108%;
}   

.bitmap, #waiting{
    width: 70px;
}   
    
.title{
    width: 100%;
}
    
.descript{
    width: 75%;
    padding-left: 40px;
}       
    
}