@font-face{
    font-family: 'AuthenticSans';
    src: 
        url('/assets/fonts/AUTHENTICSans-90.woff2') format('woff2'),
        url('/assets/fonts/AUTHENTICSans-90.woff') format('woff');
}

html, body{
    background: #000000;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    font-family: 'AuthenticSans', sans-serif;
    color: rgba(255, 255, 255, 0.75);
}

p{
    font-size: 15px;
    margin: 18px 0px;
}

h1{
    font-family: matrix-ii, serif;
    font-weight: 200;
    font-size: 4.25vh;
    text-align: center;
    writing-mode: vertical-rl;
    height: 100%;
    margin: auto calc(50% - 18px);
}

.white{
    color: #ffffff;
}

.main-wrapper{
    float: left;
    margin: 20px 0px 0px 20px;
    height: calc(100% - 20px);
    width: calc(50% - 30px);
    overflow: scroll;
}

.main-wrapper.info{
    margin-right: 0px;
}

.main-wrapper.work{
    padding-right: 20px;
}

.black-bar{
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 20px;
    background: #000000;
}

.grid-wrapper{
    width: calc(50% - 10px);
    height: 21px;
    margin: 20px 0px 0px 20px;
    position: fixed;
    z-index: 5;
    pointer-events: none;
}

.grid-wrapper.work{
    left: calc(50% - 10px);
}

.grid{
    height: 100%;
    width: calc(50% - 20px);
    float: left;
    margin-left: 20px;
    border-top: 1px solid #ffffff;
}

.grid:first-child{
    margin-left: 0px;
    border-left: 1px solid #ffffff;
}


.content-wrapper{
    position: relative;
    top: -9px;
}

.main-wrapper.work .content-wrapper{
    padding-bottom: 50vh;
}

.main-wrapper.work .content-wrapper .col-3{
    margin-top: -18px;
    margin-bottom: 18px;
}

.main-wrapper.work a.white{
    cursor: alias;
}

.col-3{
    padding-left: 12px;
    margin-right: 20px;
    float: left;
    width: calc(50% - 22px);
}

.col-3.right{
    margin-right: 0px;
}

.col-6:first-child{
    margin-top: 20px;
}

.col-6{
/*    height: 40px;*/
    margin: 15px 0px;
    padding-left: 12px;
    margin-right: 20px;
/*    float: left;*/
    width: calc(100% - 11px)
}

.col-6 img{
    width: 100%;
}

a{
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    cursor: alias;
}

a.white{
    cursor: pointer;
}

a.white:hover{
    color: rgba(255, 255, 255, 0.75);
}

a:hover{
    color: #ffffff;
}

.footer{
    pointer-events: none;
    position: fixed;
    z-index: 0;
    bottom: 0px;
    width: calc(100%);
}

.b-wrapper{
    z-index: 0;
    max-width: 90px;
    margin: auto auto;
    margin-bottom: 5px;
}

.b-wrapper img{
    pointer-events: auto !important;
    width: 100%;
}

.contact{
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

.contact span{
    pointer-events: auto !important;
}

.space{
    margin: 0px 5px;
}